altgraph==0.17.4
asttokens==2.4.1
attrs==24.2.0
blinker==1.9.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
comm==0.2.2
ConfigArgParse==1.7
contourpy==1.3.0
cycler==0.12.1
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
exceptiongroup==1.2.2
executing==2.1.0
fastjsonschema==2.20.0
filelock==3.18.0
Flask==3.0.3
fonttools==4.54.1
fsspec==2025.3.2
idna==3.10
imageio==2.37.0
importlib_metadata==8.5.0
ipython==8.29.0
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
lazy_loader==0.4
lxml==5.3.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mpmath==1.3.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
noise==1.2.2
Nuitka==2.6.9
numpy==1.26.4
numpy-stl==3.1.2
open3d==0.19.0
opencv-python==4.10.0.84
ordered-set==4.1.0
packaging==24.2
pandas==2.2.3
parso==0.8.4
pefile==2023.2.7
pillow==11.0.0
platformdirs==4.3.6
plotly==5.24.1
pooch==1.8.2
prompt_toolkit==3.0.48
pure_eval==0.2.3
pybullet==3.2.6
pyDOE==0.3.8
Pygments==2.18.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
pymesh==1.0.2
pymeshlab==2023.12.post3
pyparsing==3.2.0
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
pyqtgraph==0.13.7
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-pptx==1.0.2
python-utils==3.9.0
pytz==2024.2
pyvista==0.44.1
pyvistaqt==0.11.1
QtPy==2.4.2
referencing==0.35.1
requests==2.32.3
retrying==1.3.4
rpds-py==0.21.0
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.14.1
scooby==0.10.0
shapely==2.0.6
six==1.16.0
stack-data==0.6.3
stl==0.0.3
sympy==1.13.1
tenacity==9.0.0
threadpoolctl==3.6.0
tifffile==2025.3.30
traitlets==5.14.3
trimesh==4.6.6
typing_extensions==4.12.2
tzdata==2024.2
unlzw3==0.2.3
urllib3==2.2.3
vedo==2025.5.3
vtk==9.3.1
wcwidth==0.2.13
Werkzeug==3.0.6
widgetsnbextension==4.0.13
XlsxWriter==3.2.0
zipp==3.20.2
zstandard==0.23.0
