altgraph
asttokens
attrs
blinker
certifi
charset-normalizer
click
colorama
comm
ConfigArgParse
contourpy
cycler
dash
dash-core-components
dash-html-components
dash-table
decorator
exceptiongroup
executing
fastjsonschema
filelock
Flask
fonttools
fsspec
idna
imageio
importlib_metadata
ipython
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_core
jupyterlab_widgets
kiwisolver
lazy_loader
lxml
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nbformat
nest-asyncio
networkx
noise
Nuitka
numpy
numpy-stl
open3d
opencv-python
ordered-set
packaging
pandas
parso
pefile
pillow
platformdirs
plotly
pooch
prompt_toolkit
pure_eval
pybullet
pyDOE
Pygments
pyinstaller
pyinstaller-hooks-contrib
pymesh
pymeshlab
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
pyqtgraph
python-dateutil
python-dotenv
python-pptx
python-utils
pytz
pyvista
pyvistaqt
QtPy
referencing
requests
retrying
rpds-py
scikit-image
scikit-learn
scipy
scooby
shapely
six
stack-data
stl
sympy
tenacity
threadpoolctl
tifffile
traitlets
trimesh
typing_extensions
tzdata
unlzw3
urllib3
vedo
vtk
wcwidth
Werkzeug
widgetsnbextension
XlsxWriter
zipp
zstandard
